<div class="container">
  <h2>Edit <%= resource_name.to_s.humanize %></h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>
    <div class="row">
      <div class="form-inputs edit-box six columns">
        <p>Edit contact info:</p>
        <%= f.input :first_name, label: 'First Name', required: false, autofocus: true %>
        <%= f.input :last_name, label: 'Last Name', required: false %>
        <%= f.input :username, label: 'Username', required: false %>
        <%= f.input :email, required: false %>
        <%= f.input :team_name, require: false %>
        <%= f.input :current_password, required: true %>

      </div>

      <div class="form-inputs edit-box six columns">
        <p>Edit password:</p>
        <%= f.input :password, autocomplete: "off", required: false %>
        <%= f.input :password_confirmation, required: false %><br>
      </div>

      <div align="right">
        <%= f.button :submit, "Update" %>
        <br>
        <p><%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
      </div>
    </div>



  <% end %>





</div>
