<div class="container">

  <div class="row team-header">
    <% if @user.team_name %>
      <h2><%= @user.team_name %></h2>
    <% else %>
      <h2><%= @user.username %>'s Crew</h2>
    <% end %>
  </div>

    <ul class="row">
      <% @cuties.each do |cutie| %>
        <%=link_to cuty_path(cutie) do %>
          <li class="cutie-box">
              <%= image_tag(cutie.cutie_pic, class: "index-pic") %><br>
              <%= cutie.name %><br>
          </li>
        <% end %>
      <% end %>

      <%= link_to new_cuty_path do %>
        <li class="cutie-box">
          <h1>+<p>Add A Cutie<p></h1>
        </li>
      <% end %>
    </ul>
</div>
