<div class="container text-center">
  <h1>Edit <%= @cutie.name %></h1>
  <div class="row">
    <%= form_for @cutie do |f| %>
      <div class="text-right five columns">
        <%= f.label :name %>
        <%= f.text_field :name %><br>

        <%= f.label :bio %>
        <%= f.text_field :bio %><br>

        <%= f.label :cutie_type, 'Cutie Type' %>
        <%= f.text_field :cutie_type %><br>

        <%= f.label :species %>
        <%= f.text_field :species %><br>

        <%= f.label :birthdate %>
        <%= f.date_select(:birthdate, start_year: Date.current.year, end_year: 1900, include_blank: true) %><br>
        <span><%= f.label :wild, 'Would you like ' + @cutie.name + " to go on adventures and make new friends you can read about when you view their page? Check this box!"%>
        <%= f.check_box :wild %></span>
      </div>

      <div class="text-left five columns">
        <%= f.label :cutie_pic, 'Cutie Pic' %>
        <%= f.file_field :cutie_pic %><br>
        <%= image_tag(@cutie.cutie_pic, class: "index-pic") %><br>
        <%= f.submit "Edit #{@cutie.name}" %>
      </div>
    <% end %>
  </div>
</div>
