<div class="container text-center">
  <h1>Edit <%= @cutie.name %></h1>
  <div class="row">
    <%= form_for @cutie do |f| %>
      <div class="text-right five columns">
        <%= f.label :name %>
        <%= f.text_field :name %><br>

        <%= f.label :bio %>
        <%= f.text_field :bio %><br>

        <%= f.label :cutie_type, 'Cutie Type' %>
        <%= f.text_field :cutie_type %><br>

        <%= f.label :species %>
        <%= f.text_field :species %><br>

        <%= f.label :birthdate %>
        <%= f.date_select(:birthdate, start_year: Date.current.year, end_year: 1900, include_blank: true) %><br>

        <%= f.label :favorite_genre, "#{@cutie.name}'s favorite book genre" %>
        <%= f.collection_select(:favorite_genre, [
          # ["Art", "art"],
          # ["Biography", "biography"],
          # ["Business", "business"],
          # ["Chick-lit"],
          # ["Children's"],
          # ["Christian"],
          ["Classics", "classics"],
          # ["Comics"],
          # ["Contemporary"],
          # ["Cookbooks"],
          ["Crime", "crime"],
          # ["Ebooks"],
          ["Fantasy", "fantasy"],
          # ["Fiction"],
          ["Gay and Lesbian", "gay-and-lesbian"],
          ["Graphic Novels", "graphic-novels"],
          ["Historical Fiction", "historical-fiction"],
          ["History", "history"],
          ["Horror", "horror"],
          # ["Humor and Comedy"],
          # ["Manga"],
          # ["Memoir"],
          # ["Music"],
          ["Mystery", "mystery"],
          ["Non-fiction", "non-fiction"],
          # ["Paranormal"],
          # ["Philosophy"],
          # ["Poetry"],
          # ["Psychology"],
          # ["Religion"],
          ["Romance", "romance"],
          # ["Science"],
          ["Science Fiction", "science-fiction"],
          # ["Self help"],
          ["Suspense", "suspense"],
          # ["Spirituality"],
          # ["Sports"],
          ["Thriller", "thriller"],
          ["Travel", "travel"],
          ["Young-Adult", "young-adult"]
        ], :second, :first, {:include_blank  => 'choose genre' }) %><br>

        <!-- <%= f.label :location, "What zipcode does your cutie like to hang out in?" %>
        <%= f.text_field :location %><br> -->

      </div>

      <div class="text-left five columns">
        <%= f.label :cutie_pic, 'Cutie Pic' %>
        <%= f.file_field :cutie_pic %><br>
        <%= image_tag(@cutie.cutie_pic, class: "index-pic") %><br>

        <span>
          <%= f.check_box :wild %>
          <%= f.label :wild, "Check this box if you'd like " + @cutie.name + " to go on adventures and make new friends you can read about when you view their page."%>
          <p class="wild-explanation">When this box is checked a status update will be automatically posted by your cutie up to once a day. They may post a status, make a friend, or read a book from their favorite genre! When you visit their page, you can see what they've been up to while you weren't looking!</p>
        </span>

        <%= f.submit "Edit #{@cutie.name}" %>
      </div>
    <% end %>
  </div>
</div>
