<div class="container">
  <div class="row">
    <h1>Add A Cutie</h1>

    <%= form_for @cutie do |f| %>
      <div class="six columns">
        <%= f.label :name %>
        <%= f.text_field :name %><br>

        <%= f.label :bio %>
        <%= f.text_field :bio %><br>

        <%= f.label :cutie_type %>
        <%= f.text_field :cutie_type %><br>

        <%= f.label :species %>
        <%= f.text_field :species %><br>

        <%= f.label :birthdate %>
        <%= f.date_select(:birthdate, start_year: Date.current.year, end_year: 1900, include_blank: true) %><br>
      </div>

      <div class="six-columns">
        <%= f.label :cutie_pic, 'Cutie Pic' %>
        <%= f.file_field :cutie_pic %>
      </div>
  </div>

  <div class="row">
        <%= f.submit "Add Cutie" %>
      <% end %>
  </div>

</div>
