<div class="container">

  <div class="row">
    <div class="photo-area six columns">
      <h1>Meet <%= @cutie.name %></h1>
        <%= image_tag(@cutie.cutie_pic, class: "show-pic") %><br>
        <div class="text-left">
          Bio: <%= @cutie.bio  %><br>
          Type: <%= @cutie.cutie_type  %><br>
          Species: <%= @cutie.species  %><br>
          Birth Date: <%= @cutie.birthdate.strftime('%B %d, %Y')  %>
        </div>
    </div>

    <div class="six columns">
      <div class="activity">
        Recent Activity:

        <ul>
          <% @posts.each do |post| %>
            <li>
              <%= post.body %>
            </li>
          <% end %>
        </ul>

      </div>
    </div>

  </div>
  <div class="row">


  </div>

</div>
