<h1><%= @cutie.name %></h1>

<%= image_tag(@cutie.cutie_pic, class: "show-pic") %><br>
Bio: <%= @cutie.bio  %><br>
Type: <%= @cutie.cutie_type  %><br>
Species: <%= @cutie.species  %><br>
Birth Date: <%= @cutie.birthdate  %><br>
