<div class="container">

  <div class="row">
    <div class="photo-area five columns text-left">

      <% if @cutie.user == current_user %>
        <h2>Hi, <%= @cutie.name %></h2><br>
      <% else %>
        <h1>Meet <%= @cutie.name %></h1><br>
      <% end %>

      <%= image_tag(@cutie.cutie_pic, class: "show-pic") %>
        <div class="text-left">

          <% if @cutie.user == current_user %>
            What have you been up to?<br>
            <%= form_for([@cutie, @new_post]) do |f| %>
              <%= f.text_area :body, size: "69x2" %><br>
              <%= f.submit "Update Status" %>
            <% end %>
          <% end %>

          <% if @cutie.bio != "" %>
            Bio: <%= @cutie.bio  %><br>
          <% end %>

          <% if @cutie.cutie_type != "" %>
            Type: <%= @cutie.cutie_type  %><br>
          <% end %>

          <% if @cutie.species != "" %>
            Species: <%= @cutie.species  %><br>
          <% end %>

          <% if @cutie.birthdate %>
            Birth Date: <%= @cutie.birthdate.strftime('%B %d, %Y')  %><br>
          <% end %>

          <% if @cutie.favorite_genre %>
            Favorite Book Genre: <%= @cutie.favorite_genre %><br>
          <% end %>

        </div>
    </div>

    <div class="seven columns">
        <div class="buddies">
          <h3>Buds!</h3>
          <% @buddies.each do |buddy| %>
            <%= link_to cuty_path(buddy) do %>
              <%= image_tag(buddy.cutie_pic, class: "buddy-pic") %>
            <% end %>
          <% end %>
        </div>
        <div class="activity">
        Recent Activity:
        <% @posts.each do |post| %>
          <li>
            <%= post.created_at.strftime('%m/%d/%Y - %I:%M:%S %p') %><br>


              <% if post.media_url %>
                <a href="<%= post.link_url %>">
                  <img src="<%= post.media_url %>" class="post-media">
                </a>
              <% end %>

            <%= post.body %>
          </li>
        <% end %>
      </div>
    </div>

  </div>
  <div class="row">


  </div>

</div>
